ul{
    list-style-type:none;             /*清除原有样式*/
    height: 55px;
}
.nav1{
    background-color:royalblue;
    height: 55px;
    width: 1260px;
    position: fixed;
    margin: 0;
    z-index: 1;
}
.nav1 ul li a{
    font-family: "Arial Unicode MS";
    line-height:28px;
    color:#FFF;
    margin:2px 10px;
    font-size:30px;/*用12号字*/
    display:block;/*因为a本身就是联级元素，本身不具有宽高，用这个把它变成块级元素，这样前面设置的宽和高就能起作用了*/
    text-decoration:none; /*去掉下划线*/
}
.nav1 ul li form{
    position: relative;
    width: 200px;
    height: auto;
    margin:0 auto;
    padding: 0 auto;
    text-align: center;
}
input, button {
    border: none;
    outline: none;
}
input {
    width: 100%;
    height: 25px;
    padding-left: 13px;
}
button {
    height: 25px;
    width: 42px;
    cursor: pointer;
    margin: -25px -55px;
    float: right;
}
.nav2 ul{
    position:relative;
    margin: -10px;
}
.nav2 ul li{
    float:left;        /*让li元素左浮动*/
    margin: 55px;
}
.nav2 ul li a{
    width:auto;
    height:auto;
    line-height:28px;/*设置行距为28px，让文字在每行的中间位置*/
    background: royalblue;/*设置元素的背景为红色*/
    color:#FFF;/*文字颜色是白色*/
    margin:5px 10px;
    font-size:12px;/*用12号字*/
    display:block;/*因为a本身就是联级元素，本身不具有宽高，用这个把它变成块级元素，这样前面设置的宽和高就能起作用了*/
    text-align:center;/*让文本居中*/
    text-decoration:none; /*去掉下划线*/
}
.nav2 ul li a:hover{
    width:78px;
    height:26px;
    line-height:28px;
    border:1px solid lightskyblue;
    color:royalblue;
    background:#FFF;
}
